body {background-color: rgba(80,80,80);}
div {
    width: 400px;
    height: 200px;
    background-color: #202020;
    border-radius: 50px;
    border: 20px groove rgba(100,80,60);
    background-image: url("../assets/King\ with\ orang\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;

}