div {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 100%;
    background-image: url("../000_img/afrodite.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    width: 600px;
    height: 600px;
    border: 10px groove orangered;
    border-radius: 100%;
}
.cattwo {
    width: 600px;
    height: 600px;
    border: 10px dashed orangered;
}
.catthree {
    width: 600px;
    height: 600px;
    border: 10px dotted orangered;
}
.catfour {
    width: 600px;
    height: 600px;
    border: 10px double orangered;
}
